<% include ./partials/head.ejs %>
<title>Gamerdate Home</title>
</head>
<body>
	<header>
		<% include ./partials/header.ejs %>
		<h1><%= username || 'username' %><span>profile</span></h1>
	</header>
	<main>
		
	</main>
</body>
