

<form class=hidden action=/profile method=post enctype=multipart/form-data>
<fieldset class=add-movie>
  
<h2>Add a Game you play!</h2>
  <label>Title </label>
  <input name=title>
  <label>Cover</label>
  <input name=cover type=file accept=image/*>
  <label>Experience</label>
  <textarea
      name=description
      rows=5
    ></textarea>
  <button type=submit class=btn-main>Add</button>
  </fieldset>
</form>

