

<form class=hidden action=/profile method=post>
<fieldset class=add-movie>
  
<h2>Add your movie details</h2>
  <label>Title </label>
  <input name=title>
  <label>
    Enter URL of cover
    
  </label>
  <input name=cover>
  <label>
    Experiance
    
  </label>
  <textarea
      name=description
      rows=5
    ></textarea>
  <button class=btn-main>Add</button>
  </fieldset>
</form>

