<nav>
	<% if (user) { %>
		<ul>
			<li><a href="/match">Match</a></li>
			<li><a href="/profile">Profile</a></li>
			<li><a href="/profile/games">games</a></li>
			<li><a href="/account">Account</a></li>
			<li><a href="account/signout">Sign out</a></li>
		</ul>
	<% } else { %>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/account/login">Login</a></li>
			<li><a href="/account/Register">Register</a></li>
		</ul>
	<% } %>
</nav>
