<% include ./partials/head.ejs %>
<title>Gamerdate Home</title>
</head>
<body>
	<header>
		<% include ./partials/header.ejs %>
		<h1>Gamerdate<span>home</span></h1>
	</header>
	<main>
		<section>
			<header>
				<h2>Welcome!</h2>
			</header>
			<% if (user) { %>
			<p>hello! <%= user.username %> </p>
			<% } %>
		</section>

		<section>
			<header>
				<h2>Find your perfect match!</h2>
			</header>
			<img src="/static/images/love.jpg">
			<p>Gamerdate is different from other dating sites. At Gamerdate you come across as you really are. We think that a game says more than 1000 words. GamerDate matches users based on the games they play! After making a profile, you can add games to your library and find a match to the games you play as well. When you are looking at potential matches you can decide per match if you want to match with them or if you don't like the other person. So register now for free.</p>
		</section>
		<section>
			<header>
				<h2>Find your perfect match!</h2>
			</header>
			<img src="/static/images/2330997_1.jpg">
			<p>Gamerdate is different from other dating sites. At Gamerdate you come across as you really are. We think that a game says more than 1000 words. GamerDate matches users based on the games they play! After making a profile, you can add games to your library and find a match to the games you play as well. When you are looking at potential matches you can decide per match if you want to match with them or if you don't like the other person. So register now for free.</p>
		</section>
		<section>
			<header>
				<h2>Find your perfect match!</h2>
			</header>
			<img src="/static/images/4096112_0.jpg">
			<p>Gamerdate is different from other dating sites. At Gamerdate you come across as you really are. We think that a game says more than 1000 words. GamerDate matches users based on the games they play! After making a profile, you can add games to your library and find a match to the games you play as well. When you are looking at potential matches you can decide per match if you want to match with them or if you don't like the other person. So register now for free.</p>
		</section>
	</main>
</body>
