<% include ./partials/head.ejs %>
<title>Gamerdate Home</title>
</head>

<body>
	<header>
		<% include ./partials/header.ejs %>
		<h1> Gamerdate <span>Your Matches</span></h1>
	</header>
	<main>
		<% for (var i = 0; i < noDups.length; i++) { %>
		<section>
			<header>
				<%= noDups[i].name + ' ' + noDups[i].lastname%>
			</header>
			<p>
				<%= noDups[i].games %>
			</p>
			<form action='/match/<%=noDups[i].username%>' method="POST" >
				<button>Yes</button>
			</form>
		</section>
		<% } %>
	</main>
