<% include ./partials/head.ejs %>
<title>Gamerdate Home</title>
</head>

<body>
	<header>
		<% include ./partials/header.ejs %>
		<h1> Gamerdate <span>Your noDups</span></h1>
	</header>
	<main>
		<% for (var i = 0; i < noDups.length; i++) { %>
		<section>
			<header>
				<%= noDups[i].username %>
			</header>
			<p>
				<%= noDups[i].games %>
			</p>
		</section>
		<% } %>
	</main>
