@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,800i');

:root {
    --main-color:#1E88E5;
}




*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
}

header{
    height: 3em;
}
section.empty-state{
  margin-top: 10em;
    
}
section.empty-state p{
text-align: center;

}
ul.main-nav{
    height: 3em;
    display: flex;
    justify-content: space-between;
    padding: 0 1em 0 1em;

}
ul.main-nav li{
    list-style: none;
   width: 3em;
}
ul.main-nav li:first-child {
    transform: scale(0.6);
}
ul.main-nav li:last-child {
    transform: scale(0.6);
}

ul.main-nav li a{
   width: 3em;

}

ul.main-nav li a img{
    height: auto;
    
    
    
}
ul.main-nav li a {
    
   opacity: 0.2;
transition-delay: 1s;
transition-duration: 1s;


}
ul.main-nav li a.active  {

    opacity: 1;
transition-delay: 1s;
transition-duration: 1s;


}
h1{
    font-size: 2em;
    text-align: center;
    font-style: italic;
    font-weight: 800;
    color: var(--main-color);
}
h2 {
    text-align: center;
    font-style: italic;
    font-weight: 800;
    color: var(--main-color);
}
form{
    position: fixed;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hidden{
    display: none;
}
.btn-main{
background: var(--main-color);
border-radius: 5px;
color: white;
font-weight: 400;
padding: .7em 0;
margin: .5em 0 .5em 0;
border: 0;
}
.login{
border: 1px solid #ededed;
border-radius: 5px;
margin: 2em auto;
width: 20em;

display: flex;
flex-direction: column;
background: white;
justify-content: space-between;
}
.add-movie {
    border: 1px solid #ededed;
    border-radius: 5px;
 /* margin: 2em auto; */
    

 
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: space-between;
   -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.56);
   -moz-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.56);
   box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.56);
    
}
fieldset{
    -webkit-appearance: none;
}

button{
    -webkit-appearance: none;
}

input, textarea{
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid lightgray;
    
    /* border-radius: 5px; */
    padding: .5em;
    margin: .5em 0 .5em 0;
}
.profile-info{
    text-align: center;
}
ul.games{
    display: flex;
    flex-wrap: wrap;
    padding-left: 1em;
    padding-right: 1em;
    align-items: stretch;
}

ul.games li.item{
    width: 33.333%;
    list-style: none;
    margin-bottom: .2em;
    position: relative;
}
ul.games li.item img{
    padding: .5em;
    border-radius: 15px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    align-self: stretch;
}
ul.games li.item{
    position: relative;
}
ul.games li.item button {
position: absolute;
bottom: 0;
right: 0;
height: 25px;
width: 25px;
}
img{
    width: 100%;
    
}
ul.games li.item button.add {
-webkit-appearance: none;
border-radius: 100%;
border: 0px solid #3e3e3e;
-webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.7);
-moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.7);
box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.7);
background: white;
    
color:green;
height: 25px;
width: 25px;
text-align: center;
padding-left: 0;
padding-top: 0;
padding-right: 0;
padding-bottom: 0;
transition: transform .3s ease-in-out;
}
ul.games li.item button.remove {
    -webkit-appearance: none;
    border-radius: 100%;
    border: 0px solid #3e3e3e;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.7);
    background: white;
    text-decoration: none;
    color: red;
    height: 25px;
    width: 25px;
    text-align: center;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    transition: transform .3s ease-in-out;
}
ul.games li.item button.remove:hover {
 transform: scale(1.5);
 
  
}
ul.games li.item button.add:hover {
    transform: (1.4);
    
    transform: rotate(180deg);
}
.profile-img{
    height: 6em;
    width: 6em;
    background:lightgray;
    border-radius: 100%;
    margin: 0 auto;

} 

.log-sign{
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
    align-content: flex-end;
    
}

.btn-signup, .btn-login {
    background: var(--main-color);
    border-radius: 5px;
    color: white;
    font-weight: 400;
    padding: .7em 0;
    margin: .5em 0 .5em 0;
    border: 0;
    text-decoration: none;
    text-align: center;
    
}