
<% include ../partials/head.ejs %>
<title> Account page </title>
</head>
<body>
	<header>
		<% include ../partials/header.ejs %>
		<h1>Gamerdate<span>Account</span></h1>
	</header>
	<main>
		<section>
            
			
		</section>

	</main>
</body>
