<% include ../partials/head.ejs %>
<title> Register on Gamerdate </title>
</head>
<body>
	<header>
		<% include ../partials/header.ejs %>
		<h1>Gamerdate<span>Register</span></h1>
	</header>
	<main>

		<section class="user-input">
			<form action=/account/register method=post>

				<fieldset class="fieldset1" id="fieldset1id">
				<legend>name</legend> 
					<label for='name'> First Name:</label> 
					<input required type='text' name='name' id='name' accept='text'>
					<label for='lastname'> Last Name:</label> 
					<input required type='text' name='lastname' id='lastname' accept='text'>
					<label for='email'> Email:</label> 
					<input required type='text' name='email' id='email' accept='email'>
					<input type="button" id="fieldsetNext1" value="Next">
				</fieldset>

				<fieldset class="fieldset2" id="fieldset2id">
				<legend>Account</legend> 
					<label for='username'> Username:</label> 
					<input required type='text' name='username' id='username' accept='text'>
					<label for='password' id="password"> Password:</label> 
					<input required type='password' name='password' id='password' accept='text'>
					<input type="button" id="fieldsetBack2" value="Previous"><input type="button" id="fieldsetNext2" value="Next">
				</fieldset>

				<fieldset class="fieldset3" id="fieldset3id">
				<legend>Gender</legend> 
					<label for='man' >Man </label>
					<input required type='radio' name='gender' id='man' value='man' accept='text'>
					<label for='women'>Women </label>
					<input type='radio' name='gender' id='women' value="women" accept='text'>
					<label for='different'>Different <input type='radio' name='gender' id='different' value='different' accept='text'></label>
					<input type="button" id="fieldsetBack3" value="Previous">
					<button type="submit" id="signup">Sign Up</button>
				</fieldset>


	
				</fieldset>

			</form>
		</section>

	</main>
	<script src="../../static/js/account.js"></script>
</body>
