<% include ../partials/head.ejs %>
<title>Games</title>
</head>
<body class=no-js>
	<header>
		<% include ../partials/header.ejs %>
		<h1><%= user.username %><span>Games</span></h1>
	</header>
	<main>
		<section>
			<header>
				<h2>All Games</h2>
				
			</header>
			<a href="games/search" id="link-add-game">
				<article class="card-add-game">
					<h3>Add Game</h3>
					<div class="card-add-game-outline"></div>
					<div class="card-add-game-icon icon-plus"></div>
				</article>
			</a>
			<% for (var index = 0; index <data.length; index++) { %>
			<article class="card-game">
				<h3><%= data[index].title %></h3>
				<img src=<%= data[index].img %>>
				<form class="delete-form" action="games/delete/<%= data[index].id %>" method="post">
					<button class="icon-trash" type="submit">Delete</button>
				</form>
			</article>
			<% } %>
		</section>
	</main>
	<script src=../static/scripts/games.js></script>
</body>
