<% include ../partials/head.ejs %>

<div>
    <ul class="games">
        <% for (var index = 0; index < data.length; index++) { %>
        <li class="item">
            <img src="/uploads/<%= data[index]._cover %>" alt="<%= data[index]._title %>">
            <button id=js-remove
                    data-id="<%= data[index]._id %>"
                    class="add material-icons">close</button>
        </li>
        <% } %>
        
    </ul>    
</div>

<% include ../partials/list.ejs %>
<% include ../partials/tail.ejs %>