<% include ../partials/head.ejs %>

<h2>Games you like</h2>

<div>
    <ul class="games">
        <% for (var index = 0; index < data.length; index++) { %>
        <li class="item">
            <img src="/uploads/<%= data[index]._cover %>" alt="<%= data[index]._title %>">
            <button id=js-remove
                    data-id="<%= data[index]._id %>"
                    class="add material-icons">close</button>
        </li>
        <% } %>
        <li class="item">

            <img src="https://via.placeholder.com/100x125" alt="">
            <button id="show-add"class="add material-icons">add</button>
        </li>
    </ul>    
</div>


<% include ../partials/add.ejs %>
<% include ../partials/tail.ejs %>
    
    
    