

<h2>Add the games that you play</h2>

<div>
    <ul class="games">
        <% for (var index = 0; index < game.length; index++) { %>
        <li class="item">
        
            <img src="/uploads/<%= game[index].cover %>" alt="<%= game[index].title %>">
            <button id=js-remove
                    data-id="<%= game[index]._id %>"
                    class="remove material-icons">close</button>
        </li>
        <% } %>
        <li class="item">

            <img src="https://via.placeholder.com/100x125" alt="">
            <button id="show-add"class="add material-icons">add</button>
        </li>
    </ul>    
</div>
