<% include ../partials/head.ejs %>

       
      

<h1>Profile</h1>



  <h2>Hi user!</h2>
  


<div class=log-sign>
To save your changes
<a class=btn-login href="/login">Log in</a>
Or
<a class=btn-signup href="/sign-up">Sign up</a>

</div>

<% include ../partials/my-list.ejs %>
<% include ../partials/add.ejs %>
<% include ../partials/tail.ejs %>

