<% include ../partials/head.ejs %>
	<title>Home</title>
</head>
<body>
	<header>
		<% include ../partials/header.ejs %>
		<h1>Home<span>welcome</span></h1>
	</header>
	<main>
		<section>
			<p>Hello!!!!</p>
		</section>
	</main>
</body>
