<% include ../partials/head.ejs %>
<form action=/login method=POST>
<fieldset>
  
<h2>Login</h2>
  <label>Username</label>
  <input type=text name=username>
    <label>Password</label>
  <input type=password name=password>
  
  <button type=submit class=btn-main>Login</button>
  </fieldset>
</form>
 <% if (typeof username == 'object' && username) { %>




  <h2>Hi,  <%= username %> !</h2>
  <p>  </p>
<% } %>