<% include ../partials/head.ejs %>
<form action=/login method=POST>
<fieldset>
  
<h2>Login</h2>
  <label>Username</label>
  <input type=text name=username>
    <label>Password</label>
  <input type=password name=password>
  
  <button type=submit class=btn-main>Login</button>
  </fieldset>
</form>
 <% if (typeof user == 'object' && user) { %>




  <h2>Hi,  <%= user.username %> !</h2>
  <p> <%= user.console> gamer%> </p>
<% } else { %>

<div class=log-sign>
Already have an account?
<a class=btn-login href="/login">Log in</a>
New here?
<a class=btn-signup href="/sign-up">Sign up</a>
<% } %>