<% include ../partials/head.ejs %>
<h1>Profile</h1>
<div class="profile-info">
      <div class="profile-img">
        <img src="" alt="">
      </div>
       <h2>Giovanni</h2>
       <p>ps4 gamer</p>
    </div>


<% include ../partials/my-list.ejs %>
<% include ../partials/add.ejs %>






<% include ../partials/tail.ejs %>

