<% include ../partials/head.ejs %>
<form action=/profile method=post>
<fieldset class=add-movie>
  
<h2>Sign up</h2>
  <label>Username</label>
  <input type=text name=username>
    <label>Password</label>
  <input type=password name=password>
  <label>What console do you play?</label>
  <input name=console>
  <button type=submit class=btn-main>Sign Up</button>
  </fieldset>
</form>

